.btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: var(--first-font-size);
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: var(--border-color);
    border-radius: 4px;
    border: var(--border-color);
    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: var(--accent-color);
        background-color: var(--accent-color);
        color: var(--main-color);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}


