.logo--right {
    margin-right: 93px;
}

.logo {
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
   
    @include desktop {
        font-size: 26px;
        line-height: var(--typical-lh);
    }
}

.logo--blue {
    color: var(--logo-blue);
}

.logo--black {
    color: var(--logo-black);
}

.logo--white {
    color: var(--logo-white);
}