
.form__title {
    font-size: 20px;
    line-height: 1.5;
    color: var(--second-title-color);
    width: 100%;
    text-align: center;
    margin-bottom: 12px;

    @include desktop {
        line-height: 1.15;
    }
}

.form__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__item--bottom {
    margin-bottom: 20px;
}

.form__label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--label-color);
    margin-bottom: 4px;
}

.form__input {
    position: relative;
}

.form__data {
    width: 100%;
    height: 40px;
    font: inherit;
    padding: 12px 11px 12px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    &:focus {
        border-color: var(--accent-color);
    }
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    fill: #000000;
    .form__data:focus+& {
        fill: var(--accent-color);
    }
}

.form__item textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    &:focus {
        border-color: var(--accent-color);
    }
}

.form-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}
