.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-list__icon {
    fill: currentColor;
}

.social-list__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        background-color: var(--accent-color);
        color: var(--main-color);
    }

    @include desktop {
        &:hover,
        &:focus {
            background-color: var(--accent-color);
            color: var(--main-color);
        }
    }
    
}

.social-list__link--theme-s {
    background-color: var(--main-color);
    color: var(--link-color);
}

.social-list__link--theme-m {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--main-color);
}

