body {
    font-family: 'Roboto', 'sans-serif';
    background-color: var(--main-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--thrid-title-color);
}

.container {
    // width: 1200px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
   @include mobile {
    width: 480px;
   }

    @include tablet {
        width: 768px;
    }
   
    @include desktop {
        width: 1200px;
    }
}

.no-scroll {
    overflow: hidden;
}

