body {
    font-family: 'Roboto', 'sans-serif';
    background-color: var(--main-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--thrid-title-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

