

.advanteges__icon {
    // width: 270px;
    width: 100%;
    height: 120px;
    background-color: var(--command-backgroud);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.advanteges__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.advanteges__title {
    font-size: var(--second-font-size);
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

        @include tablet {
            text-align: start;
        }
}

.advanteges__item {
    // width: 270px;
    width: 100%;
    @include tablet {
        width: 354px;
    }

    @include desktop {
        width: 270px;
    }
}

.advanteges__text {
    line-height: 1.71;
    color: var(--text-color);
}