.clients__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.clients__item {
    @include calc (2);

    @include tablet {
        @include calc (3)
    }

    @include desktop {
        @include calc (6)
    }
    // @media screen and (min-width: 480px) {
    //     width: calc((100% - 30px) / 2);
    // }
}

.clients__icon {
    fill: currentColor;
}

.clients__link {
    display: flex;
    width: 100%;
    // width: 210px;
    height: 92px;
    border: 1px solid var(--link-color);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: var(--link-color);
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--accent-color);
        color: var(--accent-color);
    }

    @include mobile {
        width: 210px;
    }

    @include tablet {
        width: 226px;
    }
    @include desktop {
        width: 170px;
        &:hover,
        &:focus {
            border-color: var(--accent-color);
            color: var(--accent-color);
        }
    }
}

