.header--interval {
    padding: 24px 0 25px;
}

.header__position {
    display: flex;
    align-items: center;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-link);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.header__item {
    position: relative;
}

.header__list .header__link.current {
    color: var(--accent-color);
    &::after {
        position: absolute;
        bottom: -32px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background: var(--accent-color);
        border-radius: 2px;
    }
}

.header__list {
    width: 281px;
    display: flex;
    gap: 50px;
}

.header-contacts__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contacts-link);
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: var(--accent-color);
    }
}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;

}

.header-contacts {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.header--bottomline {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}