

.header--interval {
    padding: 24px 0 25px;
}

.header__position {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navigation {
    display: flex;
    align-items: center;
}

.header__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-link);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @include tablet {
        &:focus {
            color: var(--accent-color);
        } 
    }

    @include desktop {
        &:hover {
            color: var(--accent-color);
        }
    }
    
}

.header__item {
    position: relative;
}

.header__list .header__link.current {
    color: var(--accent-color);
    &::after {
        position: absolute;
        bottom: -32px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background: var(--accent-color);
        border-radius: 2px;
    }
}

.header__list {
    display: none;

    @include tablet {
        width: 281px;
        display: flex;
        gap: 50px;
    }
    
}

.header-contacts__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contacts-link);
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @include desktop {
        &:hover,
        &:focus {
            color: var(--accent-color);
        }  
    }
    
}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;

}

.header-contacts {
    display: none;

    @include tablet {
        display: flex;
        gap: 10px;
        margin-left: auto;
        flex-direction: column;
    }

    @include desktop {
        gap: 50px;
        flex-direction: row;
    }
}

.header--bottomline {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.mob-open {
    background-color: var(--main-color);
    border: none;

    @include tablet {
        display: none;
    }
}

.mob-container {
    width: 100%;
    margin: 0 auto;

    @include tablet {
        display: none;
    }




}

.mob-menu {
    position: fixed;
    top: 0;
    background-color: var(--main-color);
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    z-index: 1;
}

.mob-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    fill: #000000;
        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
}

.mob-menu__link.mob-menu__link--accent {
    color: var(--accent-color);
}



.mob-menu__item {
    margin-bottom: 32px;
}

.mob-menu__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--header-link);

}

.mob-contacts {
    margin-bottom: 64px;
}

.mob-contacts__tel {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 32px;
    
    @include mobile {
        font-size: 34px;
    }
}

.mob-contacts__mail {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 0.02em;
    letter-spacing: 1.17;
    color: var(--text-color);
}

.mob-social {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    

    @include mobile {
        gap: 20px;
    }
}

.mob-social__link {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    
    @include mobile {
        position: relative;
        &:not(:first-child)::before {
            content: "";
            position: absolute;
            height: 22px;
            border: 1px solid rgba(33, 33, 33, 0.2);
            left: -10px;
            display: block;
        }
    }
    
   
}

.mob-social__link--margin-not {
    margin-right: 0;
}



