.hero {
    background-color: var(--hero-backgroud);
    // padding: 200px 0;
    padding: 118px 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // max-width: 1600px;
    max-width: 100%;
    margin: 0 auto;
    background-image: var(--bg-gradient), url(../img/hero/hero_mob_1x.jpeg);
    @include retina {
        background-image: var(--bg-gradient), url(../img/hero/hero_mob_2x.jpeg);
        }
    @include tablet {
        background-image: var(--bg-gradient), url(../img/hero/hero_tablet_1x.jpeg);
        @include retina {
            background-image: var(--bg-gradient), url(../img/hero/hero_tablet_2x.jpeg);
        }
    }

    @include desktop {
        max-width: 1600px;
        padding: 200px 0;
        background-image: var(--bg-gradient), url(../img/hero/hero_1x.jpeg);
        @include retina {
            background-image: var(--bg-gradient), url(../img/hero/hero_2x.jpeg);
            }
    }
}

.hero__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color);
    box-sizing: border-box;
    margin: 0 auto 30px;
    width: 300px;
    @include mobile {
        font-size: 26px;
        line-height: 1.62;
        width: 360px;
        }
    @include desktop {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
        }
}