
.button-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.button-title {
    padding: 6px 22px;
    &:first-child {
        padding: 6px 25px;
    }
}

.galery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.galery-card {
    border: 1px solid rgba(238, 238, 238, 1);
    padding: 24px 20px;
}

.galery-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--thrid-title-color);
    margin-bottom: 4px;
}

.galery-item {
    width: calc((100% - 60px) / 3);
}

.galery-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.galery-text {
    font-size: var(--first-font-size);
    line-height: 1.88;
    color: var(--text-color);
}

.galery-image {
    position: relative;
    overflow: hidden;
}

.galery-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    .galery-link:hover & {
        transform: translateY(0);
    }
}

.galery-overlay-content {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-color);
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
}